{{!-- 
/**
 *  Copyright (C) 2021 TXA Pte. Ltd.
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
 *  See the GNU General Public License for more details.
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
--}}
# {{name}}
{{{natspec.userdoc}}}

{{{natspec.devdoc}}}

{{#if ownEvents}}
# Events:
{{#ownEvents}}
- [`{{name}}({{args}})`](#{{anchor}})
{{/ownEvents}}
{{/if}}

# Functions:
{{#ownFunctions}}
{{#if (or (or (eq visibility "public") (eq visibility "external")) (and (eq visibility "internal") (or natspec.userdoc natspec.devdoc))) }}
## {{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}} {{visibility}}
{{#if natspec.userdoc}}{{natspec.userdoc}}{{else}}No description{{/if}}
{{#if natspec.devdoc}}{{natspec.devdoc}}{{/if}}
{{#if natspec.params}}
### Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}
{{#if natspec.returns}}
### Return Values:
{{#natspec.returns}}
- {{param}} {{description}}
{{/natspec.returns}}
{{/if}}
{{/if}}
{{/ownFunctions}}

{{#ownEvents}}
# Event `{{name}}({{args}})` {#{{anchor~}} }
{{#if natspec.userdoc}}{{natspec.userdoc}}{{else}}No description{{/if}}
{{#if natspec.devdoc}}{{natspec.devdoc}}{{/if}}
{{#if natspec.params}}
## Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}
{{/ownEvents}}